<h1>Nuevo Producto</h1>
<p>Crear nuevo producto</p>

<div class="row">
  <div class="col-sm-6">
    <%= form_for(@product) do |f| %>
     <div class="form-group">
      <%= f.label :clave, "Clave de producto" %>
      <div class="row">
       <div class="col-sm-6">
        <%= f.text_field :clave %>
       </div>
      </div>
    </div>

      <%= f.label :descripcion, "Descripción" %>
      <%= f.text_field :descripcion %>

      <%= f.label :tipoventa, "Tipo de Venta" %>
      <%= f.select :tipoventa, options_for_select([["Individual", "I"], ["Paquete", "P"], ["Kit", "K"]]) %>

     <div class="form-group">
      <%= f.label :preciocompra, "Precio de compra" %>
      <div class="row">
       <div class="col-sm-6">
        <%= f.text_field :preciocompra %>
       </div>
      </div>
    </div>

     <div class="form-group">
      <%= f.label :precioventa, "Precio de venta" %>
      <div class="row">
       <div class="col-sm-6">
        <%= f.text_field :precioventa %>
       </div>
      </div>
    </div>

      <%= f.submit "Guardar Producto", class: "btn btn-large btn-primary" %> -<%= link_to "Cancelar", index_path %>
    <% end %>
  </div>
</div>


